head
  meta(charset='utf-8')
  title Edit
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    p 
    .modal-dialog
        .modal-content
         
          // Modal Body
          .modal-body
            //#editForm.form(role='form' method='GET' action='https://www.google.com/')
            form(role='form' method='POST' action='/edit')
              div.form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='name' name='name' value=client.name)
              div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', placeholder='name@email.com' name='email' value=client.email)
              button.btn.btn-primary(type="submit", name="asdf") Edit
          

    // footer
    p.foot.text-xs-center 